@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-3xs: 0.63rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.13rem;
  --font-size-5xs: 0.5rem;
  --font-size-sm: 0.88rem;
  --font-size-11xl: 1.88rem;

  /* Colors */
  --color-gray-100: #8d8d8d;
  --color-gray-200: #868686;
  --color-gray-300: #202020;
  --color-gray-400: #161616;
  --color-gray-500: #101214;
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-gainsboro-100: #dadada;
  --color-white: #fff;
  --color-darkgray-100: #969696;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #343434;
  --color-dimgray: #606060;

  /* Paddings */
  --padding-xs: 0.75rem;

  /* border radiuses */
  --br-5xl: 24px;
  --br-xs: 12px;
  --br-31xl: 50px;
  --br-2xl: 21px;
  --br-3xs: 10px;

  /* Effects */
  --switch-in-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.1) inset;
}
